In [16]:
#example to generate a dataset

import numpy as np

a = np.arange(0,10000)
b = np.arange(0,10000)
c = np.arange(0,10000)
d = np.arange(0,10000)

In [35]:
a = np.random.randint(500,1000,(5000)) #start , end , size
b = np.random.randint(500,1000,(5000))
c = np.random.randint(500,1000,(5000))
d = np.random.randint(500,1000,(5000))
e = np.random.randint(500,1000,(5000))
f = np.random.randint(500,1000,(5000))

In [36]:
import pandas as pd

population = {
    'KL': a,
    'J.B': b,
    'Melaka': c,
    'N.Sembilan': d,
    'Perak': e,
    'Terengganu': f
}
df = pd.DataFrame(population)

df.tail()

       KL  J.B  Melaka  N.Sembilan  Perak  Terengganu
4995  874  893     994         813    928         720
4996  950  831     856         869    753         665
4997  572  910     912         868    934         617
4998  544  500     537         907    607         589
4999  786  744     910         848    894         916

In [37]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   KL          5000 non-null   int32
 1   J.B         5000 non-null   int32
 2   Melaka      5000 non-null   int32
 3   N.Sembilan  5000 non-null   int32
 4   Perak       5000 non-null   int32
 5   Terengganu  5000 non-null   int32
dtypes: int32(6)
memory usage: 117.3 KB

       KL  J.B  Melaka  N.Sembilan  Perak  Terengganu
0     730  646     578         872    587         909
1     930  526     976         554    827         656
2     934  964     887         693    947         774
3     624  638     522         955    518         833
4     708  715     897         927    759         747
...   ...  ...     ...         ...    ...         ...
4995  874  893     994         813    928         720
4996  950  831     856         869    753         665
4997  572  910     912         868    934         617
4998  544  500     537         907    607         589
4999  786  744     910         848    894         916

[5000 rows x 6 columns]

In [38]:
df = pd.read_csv("mental_health_dataset.csv")   
df

,Student_ID,Age,Gender,GPA,Stress_Level,Anxiety_Score,Depression_Score,Daily_Reflections,Sleep_Hours,Steps_Per_Day,Mood_Description,Sentiment_Score,Mental_Health_Status
0,1,23,Other,2.52,5,20,6,Onto foreign do environmental anyone every nea...,6.8,4166,Happy,0.0000,2
1,2,19,Male,2.74,5,3,7,Party but others visit admit industry country ...,5.1,4949,Tired,0.4678,2
2,3,21,Female,3.53,5,11,24,Religious sure wait do chance decade according...,8.3,7632,Sad,0.5106,2
3,4,18,Male,2.04,4,15,14,A task effect entire coach join series.,8.2,5548,Sad,0.2960,2
4,5,19,Other,2.87,1,2,4,Knowledge several camera wait week write quali...,5.9,3698,Happy,0.4588,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,20,Other,3.34,4,0,21,Land floor page trade social away animal cut e...,5.4,8725,Motivated,-0.2732,2
496,497,18,Female,3.22,2,7,3,Almost wide majority technology positive parti...,4.5,3692,Anxious,0.7269,0
497,498,23,Other,2.86,4,17,1,Property answer method call law dream maybe mo...,8.2,6000,Motivated,0.6461,2
498,499,18,Female,2.45,4,14,0,Care can now outside real rest that perform.,6.0,5013,Stressed,0.4939,1
499,500,18,Other,3.52,1,0,5,Get turn Congress list mouth city decision eas...,5.6,5440,Anxious,0.4404,0

In [39]:
df.shape

(500, 13)

In [40]:
df = pd.read_csv("Amazon.csv")   
df

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,ORD0099996,2023-03-07,CUST001356,Karan Joshi,P00047,Memory Card 128GB,Electronics,Apex,2,492.34,0.00,78.77,2.75,1066.20,UPI,Delivered,Jacksonville,FL,India,SELL00041
99996,ORD0099997,2021-11-24,CUST031254,Sunita Kapoor,P00046,Car Charger,Sports & Outdoors,Apex,5,449.30,0.00,179.72,6.07,2432.29,Credit Card,Delivered,San Jose,CA,United States,SELL01449
99997,ORD0099998,2023-04-29,CUST012579,Aman Gupta,P00030,Dress Shirt,Sports & Outdoors,BrightLux,4,232.40,0.00,74.37,12.43,1016.40,Cash on Delivery,Delivered,Indianapolis,IN,United States,SELL00028
99998,ORD0099999,2021-11-01,CUST026243,Simran Gupta,P00046,Car Charger,Sports & Outdoors,HomeEase,1,294.05,0.00,23.52,13.09,330.66,Debit Card,Delivered,Charlotte,NC,United States,SELL00324
99999,ORD0100000,2021-12-04,CUST029492,Sunita Reddy,P00019,LED Desk Lamp,Home & Kitchen,CoreTech,5,166.70,0.05,63.35,3.34,858.52,Debit Card,Delivered,New York,NY,United States,SELL00761