In [ ]:
age=int(input('Enter Your Age : '))
if(age>=18):
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

print('Your Age Is',age)

Enter Your Age : 34
You are eligible to vote
Your Age Is 34

In [ ]:
#ask the user to enter marks
#if marks > 50 then show Congrats you have Cleared the Exam
#else show 'Sorry but you have Failed in Exam'

marks=int(input('Enter Your Marks : '))
if(marks>50):
  print('Congrats you have Cleared the Exam')
else:
  print('Sorry but you have Failed in Exam')

  print('Your Mark Is',marks)

Enter Your Marks : 50
Sorry but you have Failed in Exam
Your Mark Is 50

In [ ]:
mark_percentage=int(input('Enter Your Percentage with out % : \t'))

if(mark_percentage>90):
  grade='B'
  print(f'Your grade is {grade} marks {mark_percentage} %')
elif(mark_percentage>70):
  grade='B'
  print(f'Your grade is {grade} marks {mark_percentage} %')
elif(mark_percentage>50):
  grade='C'
  print(f'Your grade is {grade} marks {mark_percentage} %')
elif(mark_percentage>40):
  grade='D'
  print(f'Your grade is {grade} marks {mark_percentage} %')
else:
  grade='F'
  print(f'Your grade is {grade} marks {mark_percentage} %')

Enter Your Percentage with out % : 	56
Your grade is C marks 56 %

In [ ]:

 number=int(input('Enter Your Number : '))
if(number>0):
  print(f'Number: {number}, positive')
elif(number<0):
  print(f'Number: {number}, negative')
else:
  numb='Zero'
  print(f'Number: {number}, zero')

Enter Your Number : 0
Number: 0, zero

In [ ]:
for num in range(10):
  print(num,end=' \t ')

0 	 1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9

In [ ]:
for num in range(1,11):
  print(num,end=' \t ')

1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10

In [ ]:
#range (start,stop,step)
for num in range(1,11,2):
  print(num,end=' \t ')

1 	 3 	 5 	 7 	 9

In [ ]:
for num in range(0,100,5):
  print(num,end=' ')

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [ ]:
for num in range(0,100,5):
  print(num)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
given_number=int(input('Enter number to find out table of number: \t'))
print(f'Table of {given_number}')
for num in range(1,11):
  print(f'{given_number} x {num} = {given_number*num}')

Enter number to find out table of number: 	13
Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
list_cars=['Honda City','Toyota','Perodua','BMW','Audi']

In [ ]:
print('All cars in list as follows!!! ')
for car in list_cars:
  print(car)

All cars in list as follows!!!
Honda City
Toyota
Perodua
BMW
Audi

In [ ]:
num=10
while(num>0):
  print(num,end='\t')
  num -=1  #num=num-1

10	9	8	7	6	5	4	3	2	1

In [ ]:
num=1
while(num<=100):
  print(num,end=' ')
  num+=1
print('\n End of Loop')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
 End of Loop

In [ ]:
#continue: skip that particular iteration and loop will continue after that
for i in range(1,100):
  if(i%5==0):
    continue
  print(i,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [ ]:
#break:it will breakdown the loop
for i in range(1,100):
  if(i%5==0):
   break
  print(i,end=' ')

1 2 3 4

In [ ]:
choice='y'
while(choice=='y'):
  given_number=int(input('Enter number to find out table of number: \t'))
  print(f'Table of {given_number}')
  for num in range(1,11):
    print(f'{given_number} x {num} = {given_number*num}')
  choice=input('Do you want to continue (y/n):\t').lower()

Enter number to find out table of number: 	5
Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Do you want to continue (y/n):	y
Enter number to find out table of number: 	6
Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Do you want to continue (y/n):	n

In [ ]:
choice=input('Enter a y/n :')
print(choice.lower())

Enter a y/n :INdia
india

In [ ]:
#assignment operator = e.g. username=sam1256
# equal == e.g if(number==5)
#= means assigning value, == means equal to
atm_pin=1243
allowed_attempts=3
while(allowed_attempts!=0):
  user_pin=int(input('Enter you pin:\t'))
  if(user_pin==atm_pin):
      print('Welcome to ATM')
      break
  else:
    allowed_attempts-=1

  if(allowed_attempts==0):
      print('Your card has been blocked')
  else:
      print('Wrong Pin Number, Try Again')

Enter you pin:	1245
Wrong Pin Number, Try Again
Enter you pin:	23456
Wrong Pin Number, Try Again
Enter you pin:	245
Your card has been blocked

In [ ]:
hidden_number=7
allowed_attempts=3

print("Guess the hidden number between 1 and 10!")

while(allowed_attempts!=0):
    guess=int(input("Enter your guess: "))
    if(guess==hidden_number):
        print("Correct! You found the hidden number:")
        break
    else:
     allowed_attempts-=1

    if(allowed_attempts==0):
      print('Your Lost Your Chance')

    elif(guess<hidden_number):
        print("Too Low")

    elif(guess>hidden_number):
        print("Too High")

Guess the hidden number between 1 and 10!
Enter your guess: 1
Too Low
Enter your guess: 8
Too High
Enter your guess: 7
Correct! You found the hidden number: