**Python** **Introduction**

In [1]:
print('Welcome to Python')

Welcome to Python

In [2]:
print('First Example in Python')

First Example in Python

In [3]:
#input example
username=input('Enter username:')
print('Welcom Mr.\\Ms.:'+ username)

Enter username:Liyana
Welcom Mr.\Ms.:Liyana

In [6]:
#input example
username=input('Enter username:')
print('Welcome to Python:' + username)

Enter username:yana
Welcome to Python:yana

In [7]:
num1=12
num2=13
result=num1+num2
print(result)

25

In [8]:
print(f'First Number {num1} and Second Number {num2} Result: {result}')

First Number 12 and Second Number 13 Result: 25

In [11]:
fnum=int(input('Enter First Number :'))
snum=int(input('Enter Second Number :'))
result=fnum+snum
print(f'Result aftr adding {fnum} and {snum} is = \t {result}')

Enter First Number :4
Enter Second Number :4
Result aftr adding 4 and 4 is = 	 8

In [14]:
first_name='Yana'
last_name='Sabaludin'
full_name=first_name+' '+last_name
print(full_name)

Yana Sabaludin

In [15]:
type(first_name)

str

In [16]:
num=12
type(num)
print(f'Type of fnum {type(fnum)} and snum {type(snum)}')

Type of fnum <class 'int'> and snum <class 'int'>

In [17]:
my_num=12.44
type(my_num)

float

In [25]:
fnum=float(input('Enter First Number : \t'))
snum=float(input('Enter Second Number : \t'))
result=fnum+snum
print(f'Result aftr adding {fnum} and {snum} is = \t {result}')

Enter First Number : 	34.876
Enter Second Number : 	45.908
Result aftr adding 34.876 and 45.908 is = 	 80.78399999999999

In [26]:
#Boolean or boll
is_active=True
type(is_active)

bool

In [27]:
is_active=False
type(is_active)

bool

In [28]:
print('Is Active User?',is_active)

Is Active User? False

In [29]:
print(f'Is Active User?',is_active)

Is Active User? False

In [32]:
#Binary Values
byte_ex=b'Hello'
type(byte_ex)

byte_Array=bytearray(b'Hello')
type(byte_Array)
#
mv=memoryview(byte_Array)
type(mv)

memoryview

In [33]:
#complex type
complex_num=2+3j
print(complex_num)
type(complex_num)

(2+3j)

complex

In [34]:
#Squence Type
#list []
list_ex=[10,20,30,40,50]
print(list_ex)
type(list_ex)

[10, 20, 30, 40, 50]

list

In [36]:
cars=['Toyota','Perodua', 'BMW','Tesla']
print(cars)
type(cars)

['Toyota', 'Perodua', 'BMW', 'Tesla']

list

In [45]:
#Tuple
tuple_ex=(10,20,30,40,50)
print(tuple_ex)
type(tuple_ex)

(10, 20, 30, 40, 50)

tuple

In [55]:
#Set
set_ex=(10,20,30,40,50)
print(set_ex)
type(set_ex)

(10, 20, 30, 40, 50)

tuple

In [53]:
#range
range_ex=range(10)
print(range_ex)
type(range_ex)

range(0, 10)

range

In [54]:
range_ex2=range(5)
print(range_ex2)
type(range_ex2)

range(0, 5)

range

In [43]:
#Dictionary
emp={
    "id":1,
    "name":"Sam",
    "salary":20000.78
}
print(emp)
type(emp)

{'id': 1, 'name': 'Sam', 'salary': 20000.78}

dict