In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.3.5
2.3.3

In [11]:
import pandas as pd
from sklearn.datasets import load_iris

# Load Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

# Remove species (target) column if you want just features
iris_without_Species = iris_df.copy()  # or drop columns if needed

# Now calculate sepal area
sepalarea = iris_without_Species['sepal length (cm)'] * iris_without_Species['sepal width (cm)']
print(sepalarea.head())

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [18]:
species2 = pd.DataFrame({
    'SepalLength': [5.1, 4.9, 4.7],
    'SepalWidth': [3.5, 3.0, 3.2],
    'PetalLength': [1.4, 1.4, 1.3],
    'PetalWidth': [0.2, 0.2, 0.2],
    'Species': ['setosa', 'setosa', 'setosa']
})

# Now you can use .head()
print(species2.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa

In [19]:
species2.head()
type(species2)

pandas.core.frame.DataFrame

In [20]:
sepal_area = iris_without_Species['sepal length (cm)'] * iris_without_Species['sepal width (cm)']
print(sepal_area.head())

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [21]:
iris_without_Species['sepal_area'] = sepalarea
iris_without_Species.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_area
0,5.1,3.5,1.4,0.2,17.85
1,4.9,3.0,1.4,0.2,14.70
2,4.7,3.2,1.3,0.2,15.04
3,4.6,3.1,1.5,0.2,14.26
4,5.0,3.6,1.4,0.2,18.00

In [25]:
petal_area = iris_without_Species['petal length (cm)'] * iris_without_Species['petal width (cm)']
print(petal_area.head())

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [28]:

iris_without_Species['petal_area'] = petal_area
iris_without_Species.head(50)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
8,4.4,2.9,1.4,0.2,12.76,0.28
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
12,4.8,3.0,1.4,0.1,14.40,0.14
13,4.3,3.0,1.1,0.1,12.90,0.11
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
17,5.1,3.5,1.4,0.3,17.85,0.42
18,5.7,3.8,1.7,0.3,21.66,0.51
19,5.1,3.8,1.5,0.3,19.38,0.45
20,5.4,3.4,1.7,0.2,18.36,0.34
21,5.1,3.7,1.5,0.4,18.87,0.60
22,4.6,3.6,1.0,0.2,16.56,0.20
23,5.1,3.3,1.7,0.5,16.83,0.85
24,4.8,3.4,1.9,0.2,16.32,0.38
25,5.0,3.0,1.6,0.2,15.00,0.32
26,5.0,3.4,1.6,0.4,17.00,0.64
27,5.2,3.5,1.5,0.2,18.20,0.30
28,5.2,3.4,1.4,0.2,17.68,0.28
29,4.7,3.2,1.6,0.2,15.04,0.32
30,4.8,3.1,1.6,0.2,14.88,0.32
31,5.4,3.4,1.5,0.4,18.36,0.60
32,5.2,4.1,1.5,0.1,21.32,0.15
33,5.5,4.2,1.4,0.2,23.10,0.28
34,4.9,3.1,1.5,0.2,15.19,0.30
35,5.0,3.2,1.2,0.2,16.00,0.24
36,5.5,3.5,1.3,0.2,19.25,0.26
37,4.9,3.6,1.4,0.1,17.64,0.14
38,4.4,3.0,1.3,0.2,13.20,0.26
39,5.1,3.4,1.5,0.2,17.34,0.30
40,5.0,3.5,1.3,0.3,17.50,0.39
41,4.5,2.3,1.3,0.3,10.35,0.39
42,4.4,3.2,1.3,0.2,14.08,0.26
43,5.0,3.5,1.6,0.6,17.50,0.96
44,5.1,3.8,1.9,0.4,19.38,0.76
45,4.8,3.0,1.4,0.3,14.40,0.42
46,5.1,3.8,1.6,0.2,19.38,0.32
47,4.6,3.2,1.4,0.2,14.72,0.28
48,5.3,3.7,1.5,0.2,19.61,0.30
49,5.0,3.3,1.4,0.2,16.50,0.28

In [ ]:
filtered = iris_without_Species[iris_without_Species['sepal_area'] > 14]

print(filtered)

In [51]:
largeFlowers = iris_without_Species[(iris_without_Species['sepal_area'] > 15) ]
largeFlowers.head(10)
#largeFlowers.info()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
14,5.8,4.0,1.2,0.2,23.20,0.24

In [52]:
large_flowers_count = (iris_without_Species['sepal_area'] > 14).sum()
print(large_flowers_count)

133

In [76]:
largeFlowers = iris_without_Species[iris_without_Species['sepal_area'] == 16]
largeFlowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  1 non-null      float64
 1   sepal width (cm)   1 non-null      float64
 2   petal length (cm)  1 non-null      float64
 3   petal width (cm)   1 non-null      float64
 4   sepal_area         1 non-null      float64
 5   petal_area         1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [72]:
#largeFlowers = iris_without_Species[iris_without_Species['sepal_area'] > 14]

# Now you can sort
sortedLargeFlowers = largeFlowers.sort_values(by='sepal_area', ascending=False)

# Show top 5
largeFlowers=sortedLargeFlowers.head()
largeFlowers

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.8

In [61]:
areaoflargestflower= largeFlowers['sepal_area'][131]
areaoflargestflower

np.float64(30.02)

In [66]:
areaoflargestflower= sortedLargeFlowers['sepal_area'].max()
areaoflargestflower

np.float64(30.02)

In [71]:
area_of_smallest_flower = iris_without_Species['sepal_area'].min()
print(area_of_smallest_flower)

10.0

In [73]:
largeFlowers= sortedLargeFlowers.head(1)
largeFlowers

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.8